@import "../../../styles/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: $white;
  border-bottom: 1px solid $border-color;
  box-shadow: $shadow-sm;
  position: relative;
  z-index: 2;
  height: 60px;
  min-height: 60px;
  box-sizing: border-box;

  h1 {
    font-size: 18px;
    color: $dark-color;
    margin: 0;

    @include respond-to(md) {
      font-size: 24px;
    }
  }
}

.menuButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: $dark-color;
  display: block;

  @include respond-to(md) {
    display: none;
  }
}

.searchContainer {
  display: none;
  margin-top: 15px;

  @include respond-to(sm) {
    display: block;
  }
}

.mobileSearchButton {
  display: block;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: $dark-color;

  @include respond-to(sm) {
    display: none;
  }
}

.mobileSearch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: $white;
  z-index: 1002;
  display: flex;
  align-items: center;
  box-shadow: $shadow-sm;

  button {
    background: none;
    border: none;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}
